

<% @comments.each do |article|%>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to article.user.username, user_path(article.user_id) %>
        </div>
        <div class="article-body">
          <%= truncate(article.comment, length: 100) %>
        </div>
      </div>
    </div>
  </div>
<% end %>